span.property-name{
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Titling Gothic FB Normal', Social;
  font-size: 1.1em;

  display: inline-block;
  height: 30px;
  line-height: 2em;
}

.c input[type="text"]{
    background: black;
    color: white;
    text-align: center;
    font-family: 'Titling Gothic FB Normal', Social;
    font-size: 1.1em;
    display: inline-block;
}


.c .slider{
    background-color: black;
    color: white;
}


.c .slider-fg{
    background: black;
    color: white;
}