 /**
 * Global
 */

 body,
 html {
   min-height: 100vh;
   margin: 0px;
   padding: 0px;
 }
 
 html {
   position: relative;
 }
 
 body {
   background: #000;
   color: #000;
 }
 
 a:active {
   opacity: 0.7;
 }
 
 /**
  * Backdrop
  */
 
 #backdrop {
   position: fixed;
   right: 0;
   top: 0;
   bottom: 0;
   max-width: 100%;
   z-index: 1;
 }
 
 /**
  * Container
  */
 
 main {
   background: #fff;
   clear: both;
   overflow: hidden;
   position: absolute;
   max-width: 100%;
   width: 100%;
   z-index: 2;
   justify-content: center;
   display: -webkit-flex;
 }
 
 /**
  * Content
  */
 
 i, em {
   font-style: italic;
 }
 
 b, strong {
   font-weight: bold;
 }
 
 ul, ol {
   margin: 0;
   padding: 0 0 0 1em;
 }
 
 img {
   border: 0;
   padding: 0;
 }
  
 /**
  * Editor styles
  */
 
 @font-face {
   font-family: "Titling Gothic FB Normal";
   src: url("https://type.persona.co/TitlingGothicFBNormal/47bd3fa6-afb9-4d85-99ae-eba3a3eb028a-3.woff") format("woff");
   font-style: normal;
   font-weight: 200;
 }
 @font-face {
   font-family: "Titling Gothic FB Normal";
   src: url("https://type.persona.co/TitlingGothicFBNormal/64a50a70-d621-4211-9855-4eaf839a61ca-3.woff") format("woff");
   font-style: normal;
   font-weight: normal;
 }
 @font-face {
   font-family: "Titling Gothic FB Normal";
   src: url("https://type.persona.co/TitlingGothicFBNormal/557af8b8-6cca-4bdd-acc8-faa739e5077c-3.woff") format("woff");
   font-style: normal;
   font-weight: bold;
 }

 .content_padded {
  padding: 2.4rem;
 }

 .content_width {
  width: 85rem;
 }

 main {
   background-color: transparent;
   text-align: center;
   min-height: 100vh;
   -webkit-align-items: center;
   align-items: center;
   left: 0;
   margin-left: auto;
   margin-right: auto;
   right: 0;
 }
 
 main {
   font-size: 1rem;
   font-weight: 400;
   color: rgba(255, 255, 255, 1);
   font-family: 'Titling Gothic FB Normal', Social;
   font-style: normal;
   line-height: 1;
 }
 
 main a {
   color: rgba(255, 255, 255, 1);
     padding-bottom: 0.05em;
     border-bottom: 0em solid rgba(255, 255, 255, 0.31);
     text-decoration: none;
 }
 
 main a.image-link,
 main a.icon-link,
 main a.image-link:hover,
 main a.icon-link:hover {
   border-bottom: 0;
   padding-bottom: 0;
 }
 
 h1 {
   font-family: 'Titling Gothic FB Normal', Social;
   font-style: normal;
   font-weight: 700;
   padding: 0;
   margin: 0;
   font-size: 8rem;
   line-height: 1;
   color: rgba(255, 255, 255, 1);
   text-rendering: optimizeLegibility;
 }
 
 h1 a {
   color: rgba(255, 255, 255, 1);
 }
 
 h2 {
   font-family: 'Titling Gothic FB Normal', Social;
   font-style: normal;
   font-weight: 400;
   padding: 0;
   margin: 0;
   color: rgb(255, 255, 255);
   font-size: 1.5rem;
   line-height: 1;
   text-rendering: optimizeLegibility;
 }
 
 h2 a {
   color: #000;
   background-color: rgb(255, 0, 255);
 }