  body {
    overflow: hidden;
    margin: 0px;
    background-color: black;
    /* color:white; */
  }
  
/*  .ui {
    position: absolute;
    z-index: 99;

  }
  
  button{
    /* position: absolute; 
 
    margin: 20px;
    z-index: 99;

  } */